# CMake / Build files
build/
Build/
build-*/
CMakeCache.txt
CMakeLists.txt.user
CMakeFiles/
*.xcodeproj/
*.sln
*.suo
*.vcxproj*

# IDE-specific
.vs/
.vscode/

# JUCE-specific
JuceLibraryCode/
*.jucer

# Binaries
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.app

# Other
*.DS_Store
